*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1c1d22;
    color: rgb(255, 255, 255);
    font-family: "Fira Sans", serif;
}
section{
    text-align: center;
    padding: 10rem 0;
}
.container{

}