@media screen and (max-width: 1366px){
    body{
        padding: 0 1rem;
    }
    .mini{
        flex-direction: column;
    }
    .navbar{
        display: none;
    }
    section img{
        width: 300px;
    }
    footer{
        padding: 0;
        font-size: 13px;
    }
}